 		* {
  		box-sizing: border-box;
  		margin: 0px;
  		}
        body{
        	
        }

        #row
        {
        width: 100%;
        padding: 10px
        }
        section{
        	margin-right: 10px; 
        }
      
        @media (min-width: 992px)
        {
          .col-lg-4 {
    		float: left;
    		position: relative;
    		border: 1px solid blue;
    		margin-bottom: 2%;
			}

     		  .col-lg-4 {
			    width: 33.33%;
			  }
			 }
			@media (min-width: 768px) and (max-width: 991px)
         	{
            .col-md-6, .col-md-12 {
    		float: left;
    		position: relative;
    		border: 1px solid green;
    	    margin-bottom: 2%;
			}
	  		  .col-md-6 {
			    width: 50%;
			  }
			  .col-md-12 {
			    width:100%;
			  }
			 }			         
			@media (max-width: 767px)
         	{
         	.col-sm-12 {
    		float: left;
    		border: 1px solid red;
    		position:  relative;
			margin-bottom: 2%;
    	    
			}
			  .col-sm-12 {
			    width: 100%;
			  }
			 }

			  h1{
			  font-size: 200%;
			  text-align: center;	
			  }
			  #color1
			  {
			  	background-color:#CCCCFF;
			  }
			  #color2{
			  	background-color: #cc99ff;
			  }
			  #color3{
			  	background-color: #b266ff;
			  }
			  #menu1{
			  	float: right;
			  	width: 200px;
				background: blue;
				margin-bottom: 5px;
				display: block;
				text-align: center;
			  	border:2px solid black;
			  	}
			  #menu2{
			  	float: right;
			  	width: 200px;
			  	text-align: center;
			  	margin-bottom: 5px;
			  	background: green;
			  	display: block;
			  	border:2px solid black;
			  }
			  #menu3{
			  	float: right;
			  	width: 200px;
			  	text-align: center;
			  	margin-bottom: 5px;
			  	background: yellow;
			  	display: block;
			  	border:2px solid black;
			  }
			  #pad{
			  	text-align: left;
			  	position: relative;
			  	clear: both;
			  	padding: 5px;
			  }
